{# Set display option. #}
{% set display_options = element.0['#displayOptions'] %}

{# Set classes. #}
{% set classes = [
  'simple-entity-reference-formatter',
  element.0['#displayOptions']|clean_class,
  element.0['#fieldName']|clean_class,
  'bundle-' ~ element.0['#bundle']|clean_class,
  'provider-' ~ element.0['#provider']|clean_class,
] %}

{# Check if inline display. #}
{% if display_options == 'inline' %}
<span{{ attributes.addClass(classes) }}>{{ element }}</span>

{# Check if list display. #}
{% elseif display_options == 'list' %}
<ul{{ attributes.addClass(classes) }}>
{{ element }}
</ul>

{# Fallback display. #}
{% else %}
{{ element }}

{% endif %}
