{# Check if displaying inline. #}
{% if displayOptions == 'inline' %}

  {# Check if linking to entity. #}
  {% if linktoentity == 'yes' %}
  <a
    href="{{ url }}"
    class="item link"
    title="Link to {{ name }}">{{ name }}</a>{{ showCommas }}{{ trailingComma }}
  {% else %}
  <span class="item text">{{ name }}</span>{{ showCommas }}{{ trailingComma }}
  {% endif %}

{# Check if displaying list. #}
{% elseif displayOptions == 'list' %}

  <li class="list-item">

    {# Check if linking to entity. #}
    {% if linktoentity == 'yes' %}
    <a
      href="{{ url }}"
      class="item link"
      title="Link to {{ name }}">{{ name }}</a>
    {% else %}
    <span class="item text">{{ name }}</span>
    {% endif %}

    {# Check if showing term description. #}
    {% if provider == 'taxonomy' and showTermDescription == 'yes' %}
    {{ termDescription|raw }}
    {% endif %}
  </li>

{% endif %}
